<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="with=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
        <script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>
        <title>{% block title %}{% endblock %} - Votos Cenáculo</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand bg-dark navbar-dark fixed-top pb-0">
            <div class="container-fluid">
                <a class="navbar-brand pt-0" href="#" style="padding-bottom: 8px;">
                  <img src="{{ url_for('static',filename='logo_128px.png') }}" alt="Avatar Logo" style="width:32px;" class="rounded-pill"> 
                </a>
                <div class="navbar-nav nav-tabs border-0">
                    <a class="nav-item nav-link{{ ' disabled' if request.path == '/login' else (' active text-body' if request.path == '/votar' else '') }}" href="/votar">Votação Atual</a>
                    <a class="nav-item nav-link{{ ' disabled' if request.path == '/login' else (' active text-body' if request.path == '/historico' else '') }}" href="/historico">Todas as Propostas</a>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for cat, msg in messages %}
                    <div class="alert alert-{{ cat }}">
                        {% if cat == 'danger' %}
                        <strong>Erro:</strong> {{ msg }}
                        {% else %}
                        {{ msg }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        <!-- <div id="footer">
            {% block footer %}
            &copy; Copyright 2022 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div> -->
        {% if request.path != "/login" %}
        <nav class="navbar navbar-expand bg-light justify-content-center fixed-bottom p-0">
            <ul class="navbar-nav">
                <li class="nav-item navbar-text">
                  Votação da Carta |
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
        </nav>
        {% endif %}
    </body>
</html>