{% extends 'base.html' %}

{% block title %}Votar{% endblock %}

{% block content %}
<div class="container-fluid bg-light mt-4 pt-3 pb-3">
    <h1 class="font_default" style="font-weight:bold;">Votar</h1>
</div>
<div class="container-fluid bg-light pt-2 pb-2">
    {% if poll is none %}
    <h2 class="font_default" style="font-size: 18px;">
        Não existem votações abertas neste momento.
    </h2>
    {% else %}
    {% set isDisabled = 'disabled' if already_voted else '' %}
    <h2 class="font_default" style="font-weight:bold; font-size: 18px;">
        Proposta {{poll.order}}:
    </h2>
    <h2 class="font_default" style="font-size: 18px;">
        {{poll.description}}
    </h2>
    <form class="pt-4 pb-4" action="votar" method="post">
        <div class="row">
            <input type="hidden" name="proposta" value="{{poll.id}}">
            <input class="col ms-2 me-2 btn btn-block btn-success" type="submit" {{ isDisabled }} name="{{OPCOES_VOTO[0]}}" value="A Favor">
            <input class="col ms-2 me-2 btn btn-block btn-secondary" type="submit" {{ isDisabled }} name="{{OPCOES_VOTO[2]}}" value="Abster">
            <input class="col ms-2 me-2 btn btn-block btn-danger" type="submit" {{ isDisabled }} name="{{OPCOES_VOTO[1]}}" value="Contra">
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}